        
        /* Each solid Wall Object gets the attributes */
        html
        {
            max-width: 100%;
        }
        body
        {
            background:
            /* top, transparent black, faked with gradient */ 
            linear-gradient(
              rgba(0, 0, 0, 0.85), 
              rgba(0, 0, 0, 0.85)
            ),
            /* bottom, image */
            url("../../../../Assets/backgrounds/ruins.jpg");
            background-size: 2000px, 2000px;
        }
        #progress
        {
          height:7px;
          width:0%;
          background-color: #7BAEFF;
          border-radius: 20px;
        }
        #progressbar
        {
            background-color: black;
            width: 300px;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .object
        {
            z-index: 1;
            position: absolute;
            content:url("../../../../Assets/dungeon/wall/catacombs_9.png");
            border: 1px solid red;
        }
        .ground
        {
            z-index: 0;
            position: absolute;
            content:url("../../../../Assets/dungeon/wall/catacombs_0.png");
        }
        .groundOnlyTexture
        {
            z-index: 0;
            position: absolute;
            content:url("../../../../Assets/dungeon/wall/catacombs_0.png");
        }
        .playerspawn
        {
            z-index: 0;
            position: absolute;
            content:url("../../../../Assets/dungeon/wall/catacombs_0.png");
        }
        .gap
        {
            z-index: 1;
            position: absolute;
            content:url("../../../../Assets/dungeon/traps/shaft.png");
        }
        .exit
        {
            z-index: 0;
            position: absolute;
            content:url("../../../../Assets/UNUSED/features/dngn_branch_stairs.png");
        }
        .door
        {
            z-index: 1;
            position: absolute;
            content:url("../../../../Assets/dc-dngn/dngn_closed_door.png");
        }
        .chest
        {
            z-index: 1;
            position: absolute;
            content:url("../../../../Assets/UNUSED/other/chest2_closed.png");
        }
        .openedChest
        {
            z-index: 1;
            position: absolute;
            content:url("../../../../Assets/UNUSED/other/chest2_open.png");
        }
        .friendlyObject
        {
            border: 1px solid royalblue;
        }

        /* WEAPON SLOTS AND RAREITES */
        .legendary
        {
            /* RAREITY: 4 */
            border: 2px solid #fca420;
        }
        .ultra
        {
            /* RAREITY: 3 */
            border: 2px solid rgb(226, 7, 7);
        }
        .epic
        {
            /* RAREITY: 2 */
            border: 2px solid #a335ee;
        }
        .rare
        {
            /*RAREITY: 1 */
            border: 2px solid #0070dd;
        }
        .common
        {
            /* RAREITY: 0 */
            border: 2px solid rgb(160, 157, 157);
        }

        .sword
        {
            /* WEAPON SLOT: 0 */
            z-index: 1;
            position: absolute;
            content:url("../../../../Assets/item/weapon/orcish_long_sword.png");
        }
        .armor
        {
            /* WEAPON SLOT: 1 */
            z-index: 1;
            position: absolute;
            content:url("../../../../Assets/UNUSED/armour/shield_of_reflection.png");
        }
        #playground
        {
            position: relative;
            border: 1px solid green;
        }

        #player
        {
            position: relative;
            z-index: 10;
            border-style: solid;
            border: 1px solid white;
        }


        .infoTextInteraction
        {
            width: 188px;
            height: 44px;
            background-color: rgba(49, 49, 49, 0.4);
            color: rgba(255, 255, 255, 0.55);
            border: 2px solid rgba(77, 77, 77, 0.4);
            /* Center horizontally*/
            left: 50%;
            position: fixed;
            top: 5%;
        }
        .infoTextInteraction p
        {
            text-align: center;
        }
        .infoText 
        {
            background-color: rgba(49, 49, 49, 0.4);
            color: rgba(255, 255, 255, 0.55);
            border: 2px solid rgba(77, 77, 77, 0.4);
            z-index: 100;
        }
        /* INVENTORY */
        .inventory-table
        {
            left: 50%;
            position: fixed;
            top: 0%;
            visibility: hidden;
        }
        .inventory-row
        {
           display: flex;
            flex-direction: row;
            justify-content: flex-start; /* align items in Main Axis */
            align-items: flex-start; /* align items in Cross Axis */
            align-content: flex-start; /* Extra space in Cross Axis */
        }
        
        /* -> */
        .inventory-cell
        {
            width: 36px;
            height: 36px;
            
            flex-shrink: 0;
            
            display: flex;
            flex-direction: row;
            justify-content: center; /* align items in Main Axis */
            align-items: center; /* align items in Cross Axis */
            align-content: center; /* Extra space in Cross Axis */
            
            background-image: url('../../inventory-atlas.png');
            background-position: -229px -331px;
        }
        
        /* left */
        .inventory-cell:first-child
        {
            width: 38px;
            padding-left: 2px;
            
            background-position: -190px -331px;
        }
        
        /* right */
        .inventory-cell:last-child
        {
            width: 38px;
            padding-right: 2px;
            
            background-position: -266px -331px;
        }
            
        
        /* top ROW */
        .inventory-row:first-child .inventory-cell
        {
            height: 38px;
            padding-top: 2px;
            
            background-position: -229px -292px;
        }
        
        /* bottom ROW */
        .inventory-row:last-child .inventory-cell
        {
            height: 38px;
            padding-bottom: 2px;
            
            background-position: -229px -368px;
        }
        
        /* top left */
        .inventory-row:first-child .inventory-cell:first-child
        {
            width: 38px;
            height: 38px;
            
            background-position: -190px -292px;
        }
        
        /* top right */
        .inventory-row:first-child .inventory-cell:last-child
        {
            width: 38px;
            height: 38px;
            
            background-position: -266px -292px;
        }
        
        /* bottom left */
        .inventory-row:last-child .inventory-cell:first-child
        {
            width: 38px;
            height: 38px;
            
            background-position: -190px -368px;
        }
        
        /* bottom right */
        .inventory-row:last-child .inventory-cell:last-child
        {
            width: 38px;
            height: 38px;
            
            background-position: -266px -368px;
        }
        
        
        /* single horizontal */
        .inventory-row:only-child .inventory-cell
        {
            height: 40px;
            
            background-position: -613px -286px;
        }
        /* single horizontal left */
        .inventory-row:only-child .inventory-cell:first-child
        {
            width: 38px;
            height: 40px;
            
            background-position: -574px -286px;
        }
        /* single horizontal right */
        .inventory-row:only-child .inventory-cell:last-child
        {
            width: 38px;
            height: 40px;
            
            background-position: -650px -286px;
        }
        
        /* single vertical */
        .inventory-row .inventory-cell:only-child
        {
            width: 40px;
            
            background-position: -563px -463px;
        }
        /* single vertical top */
        .inventory-row:first-child .inventory-cell:only-child
        {
            width: 40px;
            height: 38px;
            
            background-position: -563px -424px;
        }
        /* single vertical bottom */
        .inventory-row:last-child .inventory-cell:only-child
        {
            width: 40px;
            height: 38px;
            
            background-position: -563px -500px;
        }
        
        /* single by singel */
        .inventory-row:only-child .inventory-cell:only-child
        {
            width: 40px;
            height: 40px;
            
            background-position: -30px -288px;
        }
        
        
        
        /* ITEMS */
        
        .inventory-item
        {
            width: 34px;
            height: 34px;
            background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8709/item-atlas.png');
            background-repeat: no-repeat;
            
            cursor: hand;
            cursor: pointer;
            
            -webkit-transition: opacity 0.3s ease;
            transition: opacity 0.3s ease;
        }
        
        .inventory-item-sortable-placeholder
        {
            display: none;
        }
        
        .inventory-item.ui-sortable-helper, .inventory-item.ui-draggable-dragging
        {
            opacity: .6;
        }
        
        .inventory-item.grape
        {
            background-position: 0px 0px;
        }
        .inventory-item.carrot
        {
            background-position: -34px -34px;
        }
        .inventory-item.sword1
        {
            background-position: 0px -170px;
        }
        .inventory-item.fire-sword1
        {
            background-position: -34px -952px;
        }
        .inventory-item.axe1
        {
            background-position: -170px -340px;
        }
        .inventory-item.fire-axe1
        {
            background-position: -306px -340px;
        }
        .inventory-item.fire-bow1
        {
            background-position: -238px -374px;
        }
        .inventory-item.meat1
        {
            background-position: -374px -34px;
        }
        .inventory-item.meat1-cooked
        {
            background-position: -442px -34px;
        }

        #console
        {
            width: 500px;
            height: 145px;
            border: 2px solid white;
            color: white;
            position:absolute;
            top:0;
            right:0;
            overflow-y: scroll;
        }
        ::-webkit-scrollbar
        {
            background-color: rgba(49, 49, 49, 0.4);
        }

        
